<section class="todoapp">
	<header class="header">
		<h1>lists</h1>
		<%= form_for @list do |f| %>
				<%= f.text_field :name, placeholder: @list.errors.full_messages_for(:name).first || "make a new list...", class: "new-todo" %>
		<%end %>
	</header>

	<section class="main">
    	<ul class="todo-list">
        <% @lists.each do |list| %>
            <li>
                <div class="view">
                    <label><%= link_to list.name, list_path(list.id) %></label>
                </div>    
            </li>
            <%end %>
        </ul>    
	</section>

	<footer class="info">
		<p>
			<h2>Logged in as, <%= current_user.email %></h2>
			<h2><%= link_to "logout", logout_path %></h2>
		</p>
	</footer>
</section>
