<section class="todoapp">
	<header class="header">
		<h1>Login</h1>
		<%= form_tag(sessions_path) do %>
        <%= text_field_tag :email, '', class: "new-todo", placeholder: "email" %>
        <%= text_field_tag :password, '', class: "new-todo", placeholder: "password", type: "password" %>
        <div style="visibility: hidden">
        <%= submit_tag %>
        </div>
        <% end %>
	</header>
</section>
<footer class="info">
    <p>
        <h2>
            New? <%= link_to "Sign up", new_user_path %> or 
            <%= link_to('Log in with Github', '/auth/github') %> 
        </h2>
    
    </p>
</footer>